.header
    position: fixed
    display: flex
    align-items: center
    justify-content: space-between
    top: 0
    height: 80px
    width: 100%
    padding: 0 50px
    background: var(--white)
    border-bottom: 1px solid var(--grey)

    &__logo
        display: flex
        align-items: center
        height: 25px

    &__icon
        display: flex
        align-items: center
        height: 100%

    &__content
        display: flex
        align-items: center
        justify-content: flex-end
        gap: 40px
        height: 100%
        width: 50%