.header
    position: fixed
    display: flex
    align-items: center
    justify-content: space-between
    top: 0
    height: 80px
    width: 100vw
    padding: 0 50px
    background: var(--white)
    border-bottom: 1px solid var(--grey)

    &__logo
        height: 30px

    &__content
        display: flex
        align-items: center
        justify-content: flex-end
        gap: 20px
        height: 100%
        width: 50%