.accueil-restaurateur
    display: flex

    &__content
        padding-left: 200px  // espace pour la sidebar fixe
        padding-top: 80px    // espace pour le header fixe
        width: 100%
        min-height: 100vh
        box-sizing: border-box
