.dashboard-header
    display: flex
    flex-direction: column
    gap: 5px
    padding-left: 50px 
    padding-top: 50px


    &__greeting
        font-size: 16px
        font-weight: 500
        color: #444

    &__title
        font-size: 28px
        font-weight: 700
