.developer-components-list
  margin-top: 2rem
  button
    margin-bottom: 1rem
    padding: 0.5rem 1rem
    font-weight: bold
    
  .error
    color: red
    font-weight: bold
    margin-top: 1rem

  .list
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 1.5rem