.home
    display: flex
    flex-direction: column
    gap: 50px
    padding: 120px 165px

.home__restaurants
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr))
    justify-content: center
    justify-items: center
    align-items: center
    gap: 50px